doctype html
html(lang="en")
  head
    title HTF2015 NodeJS
    link(rel='stylesheet', href='/css/style.css')
  body
    .content
      .htf
        img(src='/img/htfLogo.png')
      .banner
        img(src='/img/htfBanner.png')
      .nodejs
        img(src='/img/logoNode.svg')
        span One tech to rule them, one tech to find them, one tech to bring them all and in darkness bind them!